<h1>Password-Liste</h1>
<button (click)="goToCreate()">Add a new password</button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>App</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of passwords">
            <td>{{p.id}}</td>
            <td>{{p.category}}</td>
            <td>{{p.app}}</td>
            <td>{{p.userName}}</td>
            <td>
                <button *ngIf="p.id !== undefined" (click)="deleteItem(p.id)">Delete</button>
                <button *ngIf="p.id !== undefined" (click)="goToDetail(p.id)">Detail</button>
            </td>
        </tr>
    </tbody>
</table>