<h2>{{isEditMode ? 'edit password: ' : 'create a new password'}}</h2>

<form (ngSubmit)="save()">
    <label>
        Category: <input type="text" [(ngModel)]="passwordItem.category" name="category" />
    </label>
    <br>
    <label>
        App: <input type="text" [(ngModel)]="passwordItem.app" name="app" required/>
    </label>
    <br>
    <label>
        Username: <input type="text" [(ngModel)]="passwordItem.userName" name="userName" required/>
    </label>
    <br>
    <label>
        Password: <input type="password" [(ngModel)]="decryptedPassword" name="password" required/>
    </label>
    <br>
    <button type="submit">save</button>
    <button type="button" (click)="cancel()">cancel</button>
</form>